@{
    ViewBag.Title = "Confirmed!";
}
<h2 class="top">@ViewBag.Title</h2>

<hr />
<h1 class="">Whatever you did would have worked if it existed.</h1>

<p>I've used [ErrorMessage]s, [Required], and [DataType]s to confirm that the information entered in the last pages was at least in a proper format.  It hasn't been checked against a database for validity, but then again, there is no content to hide.</p>

<img class="confirm_image" src="" />