@{
    ViewBag.Title = "Contact";
}
<h2 class="top">@ViewBag.Title</h2>

<hr />
<address>
    324 Andrew Ct.<br />
    London, OH 43140<br />
    <abbr title="Phone">P:</abbr>
    740.815.6835
</address>

<address>
    <strong>Email: </strong>   <a class="email" href="mailto:JerradChristian@gmail.com">JerradChristian@Gmail.com</a><br />
    <strong>Links: </strong><a class="links" href="https://www.linkedin.com/in/jerrad-christian/">LinkedIn</a><div class="links">  |  </div><a class="links" href="https://github.com/Earthraid">GIT</a>
</address>