<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
        <img src="~/Content/look_a_distraction.jpg" />
    <hgroup>
        <h2>Oh noes!  You've found proof of my junior developmentness!!!</h2>
    </hgroup>
</body>
</html>
