@{
    ViewBag.Title = "Technical Skills";
}
<h2 class="top">@ViewBag.Title</h2>

<hr />
<p>
    <div class="about">
         With my knowledge of the three principles and experience in: C#, .NET
    </div>

    <div class="about">
        • Web Application Development: HTML, CSS, Javascript, jQuery, ASP.NET MVC, IIS Express
    </div>

    <div class="about">
        • Database Programming: ADO.NET, table design and creation, SQL queries and DML, MS SQL, E/R diagrams
    </div>

    <div class="about">
        • Development tools and techniques: Agile, unit testing (MS Test), TDD, Git command line, Visual Studio 2015 and
    </div>

    <div class="about">
        • Database Programming: ADO.NET, table design and creation, SQL queries and DML, MS SQL, E/R diagrams
    </div>

    <div class="about">
          I'm ready and excited to join a team of people that want to make things that do things.  So, let's get to building a better world one line at a time.
    </div>
</p>