@{
    ViewBag.Title = "Contact";
}
<h2 class="top">@ViewBag.Title</h2>

<hr />
<h4>J Christian</h4>
<address>
    123 I'll tell you later Ct.<br />
    Mainland, OH #####<br />
    740.867.5309
</address>

<address>
    <strong>Links: </strong><a class="links" href="https://www.linkedin.com">LinkedIn</a><div class="links">|</div><a class="links" href=#>Email</a>
    <div>These links are dead because of the internet and all its spammy ways.</div>
</address>