@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <h1>Jerrad Christian</h1>
    <p class="lead">Junior Developer Extraordinaire</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Technical Skills</h2>
        <p>
            As a freshly hatched developer, I am excited to begin a new career in OOP (Yeah, you know me).
        </p>
        <p><a class="btn btn-default" href="~/Home/About">Tech XP &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Professional Experience</h2>
        <p>People have employed me in the past! <br />I'm surprised, too.</p>
        <p><a class="btn btn-default" href="~/Home/PriorExp">Pro XP &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>Hey, I just met you and this is crazy, but here's my number.</p>
        <p><a class="btn btn-default" href="~/Home/Contact">So Call Me Maybe? &raquo;</a></p>
    </div>
</div>