@{
    ViewBag.Title = "Professional Experience";
}


<h2 class="top">@ViewBag.Title</h2>

<hr />
<div>
    <p>
        Each entry on this page represents a real experience in my life.  Though tidied up in a sum of bullet points, the day to day gain in knowledge and prospective is not quantifiable.  I have spent years in foreign nations, I have studied sciences and have witnessed arts a thousand years old.  I have made life long friends of strangers I met on a train and worked my way over innumerable language barriers. We are more than the sum of our parts and we are more than lists on a page.
    </p>
</div>
<p>
    <hr />
    <div>
        <div class="title">Business Owner, Cerberus Association Ltd, London, OH,</div>
        <div class="date">2009 - Present</div>
        <div class="bullet">
            •	Built an LLC, responsible for all aspects of business development
        </div>
        <div class="bullet">
            •	Organize and maintain sales records and compliance with the federal government
        </div>
        <div class="bullet">
            •	Instruct others in firearm safety
        </div>
    </div>
    <hr />
    <div>
        <div class="title">Supervisor, Service Master Elite, Columbus, OH.</div>
        <div class="date">2014 - 2018</div>
        <div class="bullet">
            •	Trained and supervised new associates
        </div>
        <div class="bullet">
            •	Ensured customer satisfaction
        </div>
        <div class="bullet">
            •	Organized associates and executed off site customer service
        </div>
    </div>
    <hr />
    <div>
        <div class="title">Bartender</div>
        <div class="date">2011 - 2014</div>
        <div class="bullet">
            •	Expedited quick service and customer satisfaction
        </div>
        <div class="bullet">
            •	Trained new associates
        </div>
        <div class="bullet">
            •	Responsible for inventory
        </div>
        <div class="bullet">
            •	Counted cash drawers for accuracy and deposits
        </div>
    </div>
    <hr />
    <div>
        <div class="title">Assistant Manager, Wal-Mart</div>
        <div class="date">2009 - 2010</div>

        <div class="bullet">
            •	Organized assigned tasks and completed through delegation and servant leadership
        </div>
        <div class="bullet">
            •	Championed a positive environment for associates and customers to ensure a thriving business and return guests.
        </div>
    </div>
    <hr />
    <div>
        <div class="title">Outdoor Education Teacher, JOY</div>
        <div class="date">2007 – 2009</div>
        <div class="bullet">
            •	Instructed team building exercises for corporate clients
        </div>
        <div class="bullet">
            •	Educated children in survival and team building courses
        </div>
        <div class="bullet">
            •	Supervised safety and coached physically handicapped children through ropes courses and confidence building
        </div>
    </div>

    <hr />

    <div>
        <div class="title">US Navy</div>
        <div class="date">2002 - 2007</div>
        <div class="bullet">
            •	Generated intelligence for special operations planning and execution including: anti-submarine warfare, biochemical and          radioactive drift patterns, regional flight safety, and search and rescue
        </div>
        <div class="bullet">
            •	Analyzed and presented complex information to others succinctly
        </div>
        <div class="bullet">
            •	Developed and maintained the command morale, welfare and recreation treasury for the detachment
        </div>
        <div class="bullet">
            •	Created, and maintained the public relations program for the detachment
        </div>
        <div class="bullet">
            •	Obtained and maintained highest accuracy rating for meteorological forecasting in the command
        </div>
        <div class="bullet">
            •	Obtained early certification for forecasting and oceanography without official training
        </div>
    </div>
</p>